[user]
	name = kgfnk
	email = kgfnk@users.noreply.github.com
[core]
	editor = vim
	precomposeunicode = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	vimdiff = difftool
[merge]
	tool = vimdiff3
[push]
	default = simple
